nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 50px;

  background-color: #43c049;
  color: white;

  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav ul li {
  cursor: pointer;
  font-size: 18px;
}

nav ul li a {
  text-decoration: none;
  color: white;   /* Agar navbar dark hai */
  font-weight: 500;
}

nav ul li a:hover {
  color: #c8e6c9;
}